header{
 background-color: $maincolor;


.carrito{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;

    .boton-carrito{
        color: rgba(239, 20, 20, 0.537);
    }

    .numero{
        color: rgba(255, 255, 255, 0.553);
    }
}
}